// Restored original palette: hex + rgba helpers
$hibiscus: #c72e6c;
$deep-blush: #e65a9b;
$alpine: #b6922e;
$masala: #3e3533;
$brilliant-rose: #f556b3;
$gray: #8c8586;
$cadillac: #9e4869;
$pesto: #78642e;
$azalea: #f1adcb;

/* RGBA helpers */
$hibiscus-r: rgba(199,46,108,1);
$deep-blush-r: rgba(230,90,155,1);
$alpine-r: rgba(182,146,46,1);
$masala-r: rgba(62,53,51,1);
$brilliant-rose-r: rgba(245,86,179,1);
$gray-r: rgba(140,133,134,1);
$cadillac-r: rgba(158,72,105,1);
$pesto-r: rgba(120,100,46,1);
$azalea-r: rgba(241,173,203,1);
