body {
    background-color: silver;
    background-image: url(https://file.garden/ZhTgSjrp5nAroRKq/pixtilebg01.gif);
    background-attachment: fixed;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans";
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
}

a:hover,
a:active {
    color: #ff3ea5; /* rich magenta bubblegum pink */
    text-decoration: underline;
}

.iframe-wrapper {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-bottom: 6px;
    border-bottom: 1px solid;
}

td {
    padding: 4px 8px;
    white-space: nowrap;
    border-bottom: 1px dotted;
}

.detailsColumn {
    text-align: right;
}

.file-cell {
    padding-left: 20px;
}

hr {
    border: none;
    height: 24px; /* or match your GIF height */
    background-image: url('https://file.garden/ZhTgSjrp5nAroRKq/923721zve3k8mm7v.gif');
    background-repeat: repeat-x;
    background-position: center;
}
